html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}